*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2%;
  
}
.navbar  {
    ul{
        display: flex; 
    }
    ul li{
        margin: 1rem;
        list-style-type: none;
    }
    a{
        text-decoration: none;
        font-size: larger;
        color: rgb(212, 98, 16);
    }    
} 

.social{
    display: flex;
    li{
        color: red;
        font-size: 1.5rem;
        margin: 1rem;
        list-style-type: none;
    }
}


.menu{
    display: none;
    flex-direction: column;
    cursor: pointer;  



}
.change{
    flex-direction: row;
    justify-content: space-between;
}
.line{
    width: 1.5rem;
    height: 0.1rem;
    background-color: rgb(255, 0, 0);
    margin: 0.2rem;
    transition: 0.8s;
    padding: 0.1rem;


}

.change .line1{
    transform: rotateZ(405deg);
    margin: 0 -0.5rem;
}
.change .line2{
opacity: 0;
margin: 0 -0.5rem;
}
.change .line3{
    transform: rotateZ(-405deg);
    margin: 0 -0.5rem;
}
.nav-menu{
    background-color: rgba(221, 113, 113,0.5);
    position: relative;
    left:-225%;
    top :0;
    li{
        border-bottom: 1px solid rgb(0, 0, 0);    
        padding: 1rem;     
    }
    a{
        letter-spacing: 0.3rem;  
        }        
    }
.change {
        left:0;
        transition: left 0.8s;
    }
@media screen and (max-width:850px) {
.navbar, .social{
    display: none;    
}
.menu{
    display: flex;
}    
}